<!DOCTYPE html>
<html lang="en">
<head>
    <title>Match Predictor</title>
	<style>
	th {
	  background-color: #4CAF50;
	  color: white;
	}
	th, td {
	  padding: 7px;
	}
	caption {
		font-weight: bold;
	}
	</style>
</head>
<body>
    <h1>Match Predictor</h1>
    <p>Choose league.</p>
    <form method="post">
            <div>
            <label for="season">League</label>
            <select name="season" id="season" method="POST" action="/">
                {% for season in seasons %}
                    <option value="{{ season }}" {% if season == selected %} selected {% endif %} >{{ season }}</option>"
                {% endfor %}
            </select>
            </div>
            
    {% if stats is defined %}
        <h3>Now you can estimate the probability of team A winning over team B</h3>
            <div>
            <label for="A">Team A</label>
            <select name="PA1" id="A" method="POST" action="/">
                {% for player in players %}
                    <option value="{{ player }}" {% if player == sel_PA1 %} selected {% endif %} >{{ player }}</option>"
                {% endfor %}
            </select>
            </div>
            <div class="form-group">
            <label for="B">Team B</label>
            <select name="PB1" id="B" method="POST" action="/">
                {% for player in players %}
                    <option value="{{ player }}" {% if player == sel_PB1 %} selected {% endif %} >{{ player }}</option>"
                {% endfor %}
            </select>
            </div>
            <button type="submit">Predict result!</button>
    {% else %}
            <button type="submit">Start training the predictor</button>
    {% endif %}
    </form>
    
    {% if win_probability is defined and win_probability >= 0 %}
    <br>
    <table>
    <caption>Chances</caption>
        <tr> <th>{{ sel_PA1 }}</th> <th>Draw</th> <th>{{ sel_PB1 }}</th> </tr>
        <tr>
            <td>{{ '{:0.1f}'.format(win_probability*100) }} %</td>
            <td>{{ '{:0.1f}'.format(draw_probability*100) }} %</td>
            <td>{{ '{:0.1f}'.format(100 - win_probability*100) }} %</td>
        </tr>
    </table>
    <br>
    <table>
    <caption>Already drawn games</caption>
        <tr> <th>{{ sel_PA1 }}</th> <th>{{ sel_PB1 }}</th> </tr>
        <tr>
            <td>{{ '{:0.1f}'.format(players[sel_PA1].draw_probability()*100) }} %</td>
            <td>{{ '{:0.1f}'.format(players[sel_PB1].draw_probability()*100) }} %</td>
        </tr>
    </table>
    <p>Past matches:</p>
    {% for match in past_matches %}
    <ul>
        <li>{{ match.PA1 }} {{ match.GA }}:{{ match.GB }} {{ match.PB1 }}</li>
    </ul>
    {% endfor %}
    {% endif %}
    
    {% if stats is defined %}
    <h2>Team Skills ( => computed statistical model)</h2>
    <p>Sorted by TrueSkill Rank
    <ul>
      <li>Rank is so-called 'conservative estimate' - that means the real value is probably higher)</li>
      <li>Rank = (Mean value) - 3*(Standard Deviation)</li>
    </ul>
    </p>
    <table>
        <tr>
        {% for item in stats[0] %}
            <th> {{ item }} </th>
        {% endfor %}
        </tr>
    {% for line in stats[1:] %}
        <tr>
        {% for item in line%}
            <td> {{ item }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
        
    {% endif %}
    
    {% if matches is defined %}
    <h2>Match History ( => training data)</h2>
    <table>
    {% for match in matches %}
    {% if match.PA1 == match.PA2 %}
        <tr> <td>{{ match.PA1 }}</td> <td>{{ match.GA }} : {{ match.GB }}</td> <td>{{ match.PB1 }}</td>
    {% else %}
        <tr> <td>{{ match.PA1 }}</td> <td>{{ match.PA2 }}</td>
             <td>{{ match.GA }} : {{ match.GB }}</td>
             <td>{{ match.PB1 }}</td> <td>{{ match.PB2 }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    </table>
    {% endif %}
    
</body>
</html>
